.blog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    min-height: 100vh;
    width: 100vw;
    max-width: 1280px;
    margin: 0 auto;
    a { 
        text-transform: uppercase; 
        font-weight: 700;
    }
    header {
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        figure {
            width: 100%;
            flex: 1 0 0;
            display: flex;
            img {
                flex: 1 0 0;
                width: 100%;
                object-fit: cover;
                transform: rotateY(180deg);
            }
        }
        h1 {
            font-size: 3.5rem;
            text-transform: uppercase;
            margin: 0;
            text-align: center;
            background: $accent;
        }
    }
    
    main { background: $white-shade; }

    .main-wrapper {
        margin: 0 auto;
        width: calc(100vw - 50px);
        display: flex;
        flex-flow: column nowrap;
    }
    .about {
        display: none;
    }
    .recent-posts {
        display: none;
    }
    .content { 
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .blog-post {
        border-bottom: 5px solid $orangey-yellow;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        position: relative;
        h2, p { 
            width: 100%;
            text-align: left; 
        }
        h2 { 
            font-size: 3.5rem;
            text-transform: uppercase; 
        }
        p { padding-bottom: 25px; }
        .date { font-style: italic ; }
        span { font-weight: 700; }
        .hidden {
            @include resize(100%, 50px);
            position: relative;
            &:before {
                content: "";
                @include resize(100vw, 250px);
                @include position(absolute, 0, -200px, -25px);
                background: linear-gradient(#f0efed27, lightgrey);
            }
            p { display: none; }
        } 
    }
    .comment {
        padding: 25px 0;
        width: 100%; 
        display: flex;
        justify-content: space-evenly;
        border-bottom: 5px solid $orangey-yellow;
    }
    .comment1, .comment2 {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        position: relative;
        &--avatar { 
            img { 
                width: 100px; 
                border-radius: 50%;
            }
        }
        &--text { display: none; }
    }
}