// Styling for 'Blog' page aimed at mobile devices

.blog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    min-height: 100vh;
    width: 100vw;
    max-width: 1280px;
    margin: 0 auto;

    h3 { font-size: 3.5rem; }
    
    a { 
        font-size: 2rem;
        text-transform: uppercase; 
        font-weight: 700;
    }

    p { font-size: 2rem; }

    header {
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        figure {
            width: 100%;
            flex: 1 0 0;
            display: flex;
            img {
                flex: 1 0 0;
                width: 100%;
                object-fit: cover;
                transform: rotateY(180deg);
            }
        }
    }
    h1 {
        font-size: 3.5rem;
        text-transform: uppercase;
        margin: 0;
        text-align: center;
        background: $accent;
    }
    
    main { background: $white-shade; }

    .main-wrapper {
        margin: 0 auto;
        width: calc(100vw - 50px);
        display: flex;
        flex-flow: column nowrap;
    }
    .about {
        figure {
            @include resize(160px, 70px);
            @include position(fixed, 1, 5%);
            transform: translateX(-100px);
            background: $orangey-yellow;
            border-radius: 70px;
            transition: opacity 0.3s;
        }
        figure img {
            @include resize(60px, 60px);
            @include position(fixed, 1, 5px, 5px);
            object-fit: cover;
            border-radius: 50%;
        }
        &--text { display: none; }
    }
    .recent-posts {
        &--collapse-button {
            @include resize(7px, 7px);
            @include position(fixed, 2, 130px, auto, auto, 50px);
            border-radius: 7px;
            background: white;
            &:after,
            &:before {
                content: "";
                position: absolute;
                @include resize(7px, 7px);
                border-radius: 7px;
                background: white;
            }
            &:before { right: 15px; }
            &:after { left: 15px; }
        }
        &--text { display: none; }
    }
    .content { 
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .blog-post {
        border-bottom: 5px solid $orangey-yellow;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        position: relative;
        h3, p { 
            width: 100%;
            text-align: left; 
        }
        h3 { text-transform: uppercase; }
        p { padding-bottom: 25px; }
        .date { font-style: italic ; }
        span { font-weight: 700; }
        .hidden {
            @include resize(100%, 50px);
            position: relative;
            &:before {
                content: "";
                @include resize(100vw, 250px);
                @include position(absolute, 0, -200px, -25px);
                background: linear-gradient(#f0efed27, lightgrey);
            }
            p { display: none; }
        } 
    }
    .comment {
        padding: 25px 0;
        width: 100%; 
        display: flex;
        justify-content: space-evenly;
        border-bottom: 5px solid $orangey-yellow;
    }
    .comment1, .comment2 {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        position: relative;
        &--avatar { 
            img { 
                width: 100px; 
                border-radius: 50%;
            }
        }
        &--text { display: none; }
    }
}