.contact {
    a {
        text-transform: uppercase;
        font-weight: 700;
        padding: 10px 20px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        min-height: 100vh;
        width: 100vw;
        max-width: 1280px;
        overflow: hidden;
    }

    header {
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        figure {
            width: 100%;
            flex: 1 0 0;
            display: flex;
            & img {
                flex: 1 0 0;
                width: 100%;
                object-fit: cover;
            }
        }
        h1 {
            font-size: 3.5rem;
            text-transform: uppercase;
            margin: 0;
            text-align: center;
            background: $accent;
        }
    }

    main {
        background-color: $white-shade;
        display: flex;
        flex-flow: column nowrap;
        flex: 1 0 0;
        .main-wrapper{
            padding: 0 25px;
            height: auto;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-evenly;
        }
    }
    
    .contact-info { 
        background-color: $white;
        display: flex;
        flex-flow: column nowrap; 
        .social-media {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
            padding: 10px 25px;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 0 0 10vw;
                padding: 25px 0;
                text-align: center;
                color: $orangey-yellow;
            }
            a:hover, a:focus, a:active { color: $accent; }
        }
        .address {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            padding: 0 25px 25px;
            p { 
                margin: 0; 
                text-align: center;
            }
        }
    }
}  





