#home, #contact, #blog {
    footer {
        width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: $black;
        .wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: calc(100vw - 50px);
            height: auto;
            p {
                margin: 0;
                padding: 10px 0;
                text-align: center;
                color: $white-shade;
            }
        }
    }
}

