// Styling for form section - common to 'Blog' and 'Contact' pages

form {
    font-size: 16px;
    padding: 25px 0;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    #name, #email {
        flex: 1 0 calc(50% - 50px);
        padding: 10px 0 10px 10px;
        min-width: 150px;
        border: none;
    }
    #message {
        flex: 1 0 calc(100% - 50px);
        border: none;
        padding: 10px;
    }
    button {
        flex: 1 0 calc(100% - 50px);
        border: none;
        background-color: $accent;
        padding: 5px;
        text-transform: uppercase;
        font-weight: 700;
        cursor: pointer;
    }
}