#home {
    .wrapper {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        height: auto;
        width: 100vw;
        max-width: 1280px;
    }
    header {
        flex: 1 0 0;
        background: $orangey-red;
    }
}