@media (min-width: 768px) {
    html { font-size: 62.5%; }
    a, p { font-size: 2rem; }
    #contact {
        .wrapper { margin: 0 auto; }
        .bar,
        #menu { display: none; }
        nav {
           position: relative;
           left: 0;
            ul { 
                @include resize(100%, auto);
                padding: 20px 25%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-evenly;
                li {  
                    &:nth-child(3) {
                        display: block;
                        background: $orangey-yellow;
                        color: $black;
                        font-weight: 700;
                    }
                    a { padding: 0; }
                }
            }
        }
        header {
            height: calc(25vw + 72px);
            max-height: 392px;
            h1 { 
                font-size: 6rem;
                position: absolute;
                background: none;
                margin: 0;
                left: 10%;
                bottom: -40px; 
            }
            p {
                background: #2c2c2c83;
                top: auto;
                bottom: 0;
                left: auto;
                @include resize(auto, auto);
                padding: 0 10px;
                margin: 0;
                font-size: 1.6rem;
                font-weight: 700;
            }
        }
        main {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            .wrapper {
                width: 80%;
                padding: 0;
                flex-flow: row-reverse nowrap;
                justify-content: space-between;
                .contact-info {
                    margin-top: 25px;
                    align-self: start;
                    flex: 0 0 30%;
                    .social-media {
                        a { 
                            justify-content: flex-start;
                            flex: 1;
                        }
                    }
                    .address {
                        align-items: flex-start;
                        p { text-align: left; }
                    }
                }
                form {
                    flex: 0 0 65%;
                    #name, 
                    #email {
                        min-width: 300px;
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    input#menu:checked ~ nav { transform: translateX(-100vw); }
    nav ul { 
        padding: 20px 50px;
        width: 100vw; 
    }
    header p { display: none; }
    #home {
        .title-text { display: none; }
        header .wrapper .title {
            h3 { 
                visibility: visible;
                text-align: center;
                font-size: 6vw;
                margin: 0 0 10px 0;
                color: $white;
                transform: translateY(50px); 
            }
            h1 { transform: translateY(20px); }
        }
    }
}